#page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#players-list{
    width: 182px;
}

li {
    position: relative;
    height: 30px;
}

.remove-btn{
    position: absolute;
    right: 0px;
}

#begin-draft-btn{
    display: inline;
}

.centered{
    text-align: center;
}